{% extends "layout.html" %}


{% block title %}
    Grammar
{% endblock %}

{% block body %}

<div class="container-fluid grammar-section">
    <h3 class="section-title">Grammar Topics</h3>
    <p class="section-intro">
        Study from various grammar topics like tenses, sentence structure,phrasal verbs, idiomatic expressions, conditionals and more to strengthen your language foundation.
    </p>
    <div class="grammar-topics">
        <div class="topic-card">
            <h4>Tenses</h4>
            <p>Learn how to use past, present, and future tenses effectively in your sentences.</p>
        </div>
        <div class="topic-card">
            <h4>Sentence Structure</h4>
            <p>Understand how to form clear and grammatically correct sentences.</p>
        </div>
        <div class="topic-card">
            <h4>Parts of Speech</h4>
            <p>Master nouns, verbs, adjectives, and other parts of speech to improve your writing and speaking.</p>
        </div>
        <div class="topic-card">
            <h4>Punctuation</h4>
            <p>Learn the correct usage of commas, periods, and other punctuation marks.</p>
        </div>
        <div class="topic-card">
            <h4>Active and Passive Voice</h4>
            <p>Understand the differences and when to use active vs. passive voice.</p>
        </div>
        <div class="topic-card">
            <h4>Conditionals</h4>
            <p>Grasp the concepts of conditional sentences to express possibilities and hypotheses.</p>
        </div>
        <div class="topic-card">
            <h4>Phrasal Verbs</h4>
            <p>Master commonly used phrasal verbs to sound more natural in conversations.</p>
        </div>
        <div class="topic-card">
            <h4>Idiomatic Expressions</h4>
            <p>Learn popular idioms and expressions to enrich your vocabulary and speaking style.</p>
        </div>
        <div class="topic-card">
            <h4>Modals</h4>
            <p>Study Modals to express ability, possibility, necessity, and more.</p>
        </div>
    </div>
</div>


{% endblock %}