{% extends "layout.html" %}


{% block title %}
    Learning
{% endblock %}

{% block body %}

<div class="learning">
        <div>
            <h3>Improve your English!</h3>
            <p>Seriously improve your grammar with our <br> structured, logical system</p>
            <div>
                <a href="/grammar">Grammar</a>
                <a href="/programs">Programs</a>
                <a href="/skills">Skills</a>
            </div>
        </div>
        <div class="learningImgDiv">
            <img src="/static/images/essie.jpg"/>
        </div>
        <div class="learningImgDivII">
            <img src="/static/images/homeimg.jpg"/>
        </div>
</div>

{% endblock %}