{% extends "layout.html" %}


{% block title %}
    Services
{% endblock %}

{% block body %}

<div class="container-fluid programs">
    <h3>Programs</h3>

    <div class="largeScreen">
        <div class="boxes">
            <div class="imageElement">
                <img src="/static/images/books1.jpg"/>
            </div>
            <div class="textElement">
                <h4>General English</h4>
                <ul>
                    <li>Develop a strong foundation in sentence structure and verb usage.</li>
                    <li>Practice real life scenarios to build confidence in everyday communication.</li>
                    <li>Learn through engaging activities like storytelling, games, and role play.</li>
                    <li>Focus on improving grammar</li>
                    <li>Expanding vocabulary</li>
                    <li>Enhancing fluency</li>
                </ul>
            </div>
        </div>

        <div class="boxes">
            <div class="textElement">
                <h4>Exam Preparation</h4>
                <ul>
                    <li>Specialized training for English proficiency exams like IELTS, TOEFL, and others.</li>
                    <li>Practice speaking, writing, reading, and listening skills for top scores.</li>
                    <li>Receive a detailed study plan tailored to your exam goals.</li>
                    <li>Work on time management techniques for each exam section.</li>
                    <li>Access mock tests and practice materials for thorough preparation.</li>
                    <li>Improve essay writing skills and structured responses.</li>
                </ul>
            </div>
            <div class="imageElement">
                <img src="/static/images/books3.jpg"/>
            </div>
        </div>

        <div class="boxes">
            <div class="imageElement">
                <img src="/static/images/books2.jpg"/>
            </div>
            <div class="textElement">
                <h4>Business English</h4>
                <ul>
                    <li>Learn professional language skills for meetings, presentations, and emails.</li>
                    <li>Build confidence in workplace communication and networking.</li>
                    <li>Master industry specific vocabulary.</li>
                    <li>Learn effective cross-cultural communication for international business.</li>
                    <li>Role play business scenarios to apply your skills in realistic settings.</li>
                </ul>
            </div>
        </div>

        <div class="boxes">
            <div class="textElement">
                <h4>Conversational  English</h4>
                <ul>
                    <li>Practice speaking naturally and fluently in real world situations.</li>
                    <li>Ideal for improving pronunciation, idioms, and everyday expressions.</li>
                    <li>Engage in fun activities like debates, discussions, and storytelling.</li>
                    <li>Understand and use phrasal verbs, slang, and colloquialisms naturally.</li>
                    <li>Practice conversations for everyday life.</li>
                </ul>
            </div>
            <div class="imageElement">
                <img src="/static/images/books6.jpg"/>
            </div>
        </div>

        <div class="boxes">
            <div class="imageElement">
                <img src="/static/images/books5.jpg"/>
            </div>
            <div class="textElement">
                <h4>Custom Lessons</h4>
                <ul>
                    <li>Personalized sessions tailored to your unique goals and interests.</li>
                    <li>Focus on specific areas like job interviews, academic writing, or travel English.</li>
                    <li>Flexible lesson plans that adapt to your schedule and pace.</li>
                    <li>One-on-one attention to address individual challenges and strengths.</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="smallScreen">
        <div class="boxes">
            <div class="imageElement">
                <img src="/static/images/books1.jpg"/>
            </div>
            <div class="textElement">
                <h4>General English</h4>
                <ul>
                    <li>Develop a strong foundation in sentence structure and verb usage.</li>
                    <li>Practice real life scenarios to build confidence in everyday communication.</li>
                    <li>Learn through engaging activities like storytelling, games, and role play.</li>
                    <li>Focus on improving grammar</li>
                    <li>Expanding vocabulary</li>
                    <li>Enhancing fluency</li>
                </ul>
            </div>
        </div>

        <div class="boxes">
            <div class="imageElement">
                <img src="/static/images/books3.jpg"/>
            </div>
            <div class="textElement">
                <h4>Exam Preparation</h4>
                <ul>
                    <li>Specialized training for English proficiency exams like IELTS, TOEFL and others.</li>
                    <li>Practice speaking, writing, reading, and listening skills for top scores.</li>
                    <li>Receive a detailed study plan tailored to your exam goals.</li>
                    <li>Access mock tests and practice materials for thorough preparation.</li>
                </ul>
            </div>
        </div>

        <div class="boxes">
            <div class="imageElement">
                <img src="/static/images/books2.jpg"/>
            </div>
            <div class="textElement">
                <h4>Business English</h4>
                <ul>
                    <li>Learn professional language skills for meetings, presentations, and emails.</li>
                    <li>Build confidence in workplace communication and networking.</li>
                    <li>Master industry specific vocabulary.</li>
                    <li>Learn effective cross-cultural communication for international business.</li>
                    <li>Role play business scenarios to apply your skills in realistic settings.</li>
                </ul>
            </div>
        </div>

        <div class="boxes">
            <div class="imageElement">
                <img src="/static/images/books6.jpg"/>
            </div>
            <div class="textElement">
                <h4>Conversational  English</h4>
                <ul>
                    <li>Practice speaking naturally and fluently in real world situations.</li>
                    <li>Ideal for improving pronunciation, idioms, and everyday expressions.</li>
                    <li>Engage in fun activities like debates, discussions, and storytelling.</li>
                    <li>Understand and use phrasal verbs, slang, and colloquialisms naturally.</li>
                    <li>Practice conversations for everyday life.</li>
                </ul>
            </div>
        </div>

        <div class="boxes">
            <div class="imageElement">
                <img src="/static/images/books5.jpg"/>
            </div>
            <div class="textElement">
                <h4>Custom Lessons</h4>
                <ul>
                    <li>Personalized sessions tailored to your unique goals and interests.</li>
                    <li>Focus on specific areas like job interviews, academic writing, or travel English.</li>
                    <li>Flexible lesson plans that adapt to your schedule and pace.</li>
                    <li>One-on-one attention to address individual challenges and strengths.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}