{% extends "layout.html" %}


{% block title %}
    Skills
{% endblock %}

{% block body %}

<div class="container-fluid skills">
    <h3>Skills</h3>

    <div>
        <div class="skills-box">
            <div class="imageElm">
                <img src="/static/images/speaking.jpg"/>
            </div>
            <div>
                <h4>Speaking</h4>
            </div>
        </div>
        <div class="skills-box">
            <div class="imageElm">
                <img src="/static/images/listening.jpg"/>
            </div>
            <div>
                <h4>Listening</h4>
            </div>
        </div>
        <div class="skills-box">
            <div class="imageElm">
                <img src="/static/images/reading.jpg"/>
            </div>
            <div>
                <h4>Reading</h4>
            </div>
        </div>
        <div class="skills-box">
            <div class="imageElm">
                <img src="/static/images/writing.jpg"/>
            </div>
            <div>
                <h4>Writing</h4>
            </div>
        </div>

    </div>
</div>

{% endblock %}